body {
    background-color: #7F7F7F;
    text-align: center;
    font-family: Arial;
    color: white;
    box-sizing: border-box;
}

.container-principal {
    background-color: #1f1f1f;
    border: 1px solid transparent;
    border-radius: 20px;
    width: 500px;
    /* height: 500px; */
    height: 85vh;
    margin: 30px auto;
    padding: 30px 50px;
}

h2{
    font-size: 15px;
    color: #c4f82a;
}

.perfil {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin: 0 auto;
    background-image: url('./assets/andre.png');
    /* background-position: center;*/
    background-size: cover;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.titulo-perfil {
    font-size: 18px;
    color: #fff;
    text-shadow: 2px 6px 3px #000000;
}

/* Estilo dos links */
.arvore-links {
    max-width: 768px;
    width: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.arvore-links a {
    width: 100%;
    height: 30px;
    padding: 5px;

    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;

    border-radius: 10px;
    background-color: #ccc;
    color: #000;
}

.arvore-links a:hover {
    background-color: #c4f82a;
    color: #141414;
}

.arvore-links a p {
    width: 90%;
}

.arvore-links a img {
    width: 30px;
}

.center{
    margin: 0 auto;
    width: 300px;
    background-color: #666;
}
.center:hover {
    background-color: #00A2E8;
}

@media (min-width: 200px) and (max-width: 650px) {
  
    .container-principal {
        width: 70%;
        height: 80%;
        margin: 0 auto;
    }

    .perfil {
        width: 80px;
        height: 80px;        
    }
    
    .titulo-perfil {
        font-size: 75%;        
    }
}    
